:root {
  --body-background-color: #19161f;
  --body-text-color: #fafafa;
  --card-border-color: #3f3f46;
  --up-border-left-color: #22c55e;
  --down-border-left-color: #ef4444;
  --degraded-border-left-color: #facc15;
}
