:root {
  --body-background-color: #19161f;
  --body-text-color: #fafafa;
  --card-border-color: #3f3f46;
  --nav-border-bottom-color: #3f3f46;
  --up-border-left-color: #22c55e;
  --down-border-left-color: #ef4444;
  --degraded-border-left-color: #facc15;
  --graph-opacity: 1;
  --graph-filter: filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(5712%) hue-rotate(265deg) brightness(71%) contrast(95%);
}
